<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.reringuy.framework_service">

    <application>
        <service android:name=".TemperatureService"
            android:exported="true"
            android:enabled="true" >
            <intent-filter>
                <action android:name="com.reringuy.framework_service.ACTION_BIND" />
            </intent-filter>
        </service>
    </application>
</manifest>